.link {
    text-decoration: none;
    color: rgba(38, 38, 38, 1);
    height: 100%;
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    list-style: none;
}

.dark {
    background-color: rgba(255, 174, 128, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.active {
    background-color: rgba(255, 239, 229, 1);
}

.navItem li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 25px 34px;
    border-left: 2px solid rgba(38, 38, 38, 1);
    cursor: pointer;
    text-align: center;
}

.navItem li:hover {
    background-color: rgba(255, 239, 229, 1);
}

.dark:hover {
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    background-color: rgb(239, 163, 120);

}

.menu {
    background-color: rgba(255, 239, 229, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (min-width: 993px) and (max-width: 1919px) {

    .navItem li {
        padding: 21px 30px;
    }

    .navItem {
        font-size: 16px;
    }

}

@media screen and (min-width: 993px) and (max-width: 1170px) {

    .navItem li {
        padding: 18px 24px;
    }

    .navItem {
        font-size: 14px;
    }

}

@media screen and (max-width: 992px) {



    .menu {
        padding: 17px 30px !important;
    }



}