.shadowButton {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgba(255, 222, 204, 1);
    border: 2px solid rgba(38, 38, 38, 1);
    border-radius: 10px;
    box-shadow: 4px 4px 0px 2px rgba(30, 30, 30, 1);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    cursor: pointer;
}

.normalButton {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    width: fit-content;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    cursor: pointer;
}

.normalButton:hover {
    background-color: rgba(255, 239, 229, 0.171);
}

.normalButton:focus {
    background-color: rgba(255, 239, 229, 1);
}

.shadowButton:hover {
    background-color: rgba(255, 239, 229, 1);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .arrowIcon {
        font-size: 30px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1919px) {

    .shadowButton {
        border-radius: 8px;
        box-shadow: 2px 2px 0px 2px rgba(30, 30, 30, 1);
        font-size: 18px;
    }

    .normalButton {
        padding: 8px 14px;
        border-radius: 6px;

        font-size: 16px;
    }

    .content {

        .arrowIcon {
            font-size: 24px;
        }
    }
}


@media screen and (max-width: 992px) {
    .shadowButton {
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 6px;
        box-shadow: 2px 2px 0px 1px rgba(30, 30, 30, 1);
        font-size: 16px;
    }

    .sectionBoxHeader {
        padding: 8px 14px;
        border-radius: 6px;

        font-size: 14px;
    }

    .content {

        .arrowIcon {
            font-size: 20px;
        }
    }
}