.pageCard {
    padding: 80px;
    flex-direction: column;
    justify-content: center;
}

.pageCardTitle {
    padding-bottom: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
}

.shapesContainer {
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 10px;

}

.circleRectangular {
    align-items: center;
}

.circle {
    position: absolute;
    flex-shrink: 0;
    z-index: 3;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(38, 38, 38, 1);
    border-radius: 50%;
}

.rectangular {
    position: relative;
    width: calc(100% / 6);
    height: 12px;
    background: rgba(255, 190, 153, 1);
}

.rectangular::after {
    position: absolute;
    content: '';
    bottom: 50%;
    width: 90%;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
}

.rightCircle {
    left: 100%;
    top: 50%;
    transform: translate(-90%, -50%);
}

.leftCircle {
    right: 100%;
    top: 50%;
    transform: translate(90%, -50%);
}

.pageCardDescription {
    padding-bottom: 80px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

@media screen and (min-width: 993px) and (max-width: 1919px) {

    .pageCard {
        padding: 60px;
    }

    .pageCardTitle {
        padding-bottom: 24px;
        font-size: 34px;
    }

    .shapesContainer {
        padding-bottom: 40px;
    }

    .pageCardDescription {
        padding-bottom: 60px;
        font-size: 16px;
    }
}