.section {
    padding-top: 200px;
    background-color: rgba(255, 245, 240, 1);
}

@media screen and (min-width: 993px) and (max-width: 1919px) {
    .section {
        padding-top: 150px;
    }
}

@media screen and (max-width: 992px) {
    .section {
        padding-top: 80px;
    }
}