.benefitCard {
    padding: 80px 50px 50px 50px;
    position: relative;
}

.iconBox {
    padding: 20px;
    position: absolute;
    bottom: 100%;
    left: 30px;
    transform: translateY(50%);
    border: 2px solid rgba(38, 38, 38, 1);
    border-radius: 12px;
    background-color: rgba(255, 222, 204, 1);
}

.cardTitle {
    padding-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 28px;
    flex-grow: 1;
}

.cardDescription {
    max-width: 404px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

@media screen and (min-width: 993px) and (max-width: 1919px) {

    .benefitCard {
        padding: 60px 40px 40px 40px;
    }

    .iconBox {
        padding: 16px;
        border-radius: 8px;
        left: 24px;

        img {
            max-width: 24px;
            max-height: 24px;
        }
    }

    .cardTitle {
        padding-bottom: 16px;
        font-size: 24px;
    }

    .cardDescription {
        max-width: 320px;
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .benefitCard {
        padding: 50px 40px 30px 30px;
    }

    .iconBox {
        padding: 16px;
        left: 24px;
        border-radius: 8px;

        img {
            max-width: 24px;
            max-height: 24px;
        }
    }

    .cardTitle {
        padding-bottom: 16px;
        font-size: 22px;
    }

    .cardDescription {
        font-size: 16px;
    }

}